*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Libre Franklin';
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 1440px;
}

header{
    background: rgba(198, 108, 73, 0.3);
    background-image: url(img/bg.png);
    height: 768px;
}

.navigation{
   display: flex;
    padding-top: 93px;
}

.header-logo{
    width: 116px;
    margin-left: 165px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 529px;
    margin-left: 464px;
}

.navigation-a-home{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.navigation-a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-text{
    width: 694px;
    height: 261px;
    margin-left: 165px;
    margin-top: 145px;
}

.header-p-top{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.header-p-center{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-top: 26px;
    margin-bottom: 106px;
}

.header-text-a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

/* header завершен */

.section-1{
    height: 544px;
}

.about{
    /* width: 1108px; */
    height: 336px;
    padding: 93px 167px 115px 165px;
    box-sizing: border-box;
    margin-right: 0;
}

.about-h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.about-p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #333333;
}

/* section-1 завершен */

.section-2{
    background-color: #FFFAF2;
    height: 693px;
}

.skills{
    width: 1110px;
    height: 455px;
    padding: 93px 165px 145px 165px;
}

.skills-h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 86px;
}

.skills-info{
    display: flex;
}

.skills-img{
    width: 350px;
}

.skills-info-text{
    margin-left: 125px;
    width: 635px;
    height: 340px;
}

.skills-profile{
    display: flex;
    margin-bottom: 65px;
}

.profile-title-p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-top: 0;
}

.profile-subtitle-p{
    width: 316px;
    margin-left: 131px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-top: 0;
}

.skills-rh{
    display: flex;
    margin-bottom: 0;
}

.rh-title-p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    width: 123px;
    margin-top: 0;
}

.rectangle{
    width: 446px;
    height: 24px;
    margin-left: 66px;
    background-color: #F5D6AB;
}

#rectangle-small-1{
    width: 381px;
    height: 24px;
    background-color: #C66C49;
}

#rectangle-small-2{
    width: 351px;
    height: 24px;
    background-color: #C66C49;
}

#rectangle-small-3{
    width: 286px;
    height: 24px;
    background-color: #C66C49;
}

.skills-tools{
    display: flex;
}

.tools-title-p{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-top: 0;
}

.tools-subtitle-p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-left: 143px;
    margin-top: 0;
}

/* section-2 завершен */

.section-3{
    height: 822px;
}

.portfolio{
    padding: 93px 165px 145px 165px;
}

.portfolio-h4{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 0;
    margin-top: 0;
}

.portfolio-info{
    display: flex;
}

.portfolio-info-text{
    width: 349px;
    height: 210px;
    margin-right: 125px;
}

.portfolio-title-h5{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
    margin-top: 86px;
}

.portfolio-subtitle-p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    color: #333333;
    margin-top: 48px;
    margin-bottom: 235px;
}

.portfolio-info-arrow{
    width: 62px;
}

.fa{
    font-size: xx-large;
}

.fa-angle-left{
    margin-right: 14px;
}

.portfolio-info-icon{
    width: 635px;
    height: 403px;
    margin-top: 152px;
    display: flex;
    justify-content: space-between;
}

.portfolio-icon-left{
    width: 350px;
}

.portfolio-icon-lt{
    height: 144px;
    margin-bottom: 26px;
}

.portfolio-icon-lb{
    height: 349px;
}

.portfolio-icon-right{
    width: 255px;
}

.portfolio-icon-rt{
    height: 233px;
    margin-bottom: 26px;
}

.portfolio-icon-rb{
    height: 144px;
}

/* section-3 завершен */

footer{
    background-color: #FFFAF2;
    height: 528px;
}

.contact{
    width: 928px;
    height: 246px;
    padding: 93px 347px 189px 165px;
}

.contact-h4{
    margin-bottom: 51px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}

.contact-info{
    width: 928px;
    height: 166px;
    display: flex;
    justify-content: space-between;
}

.contact-info-column-l{
    width: 78px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.contact-info-column-c{
    width: 86px;
}

.contact-info-column-r{
    width: 168px;
}

.contact-info-a{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: calc(22px + 14px);
    color: #333333;
}

.fa-angle-up{
    padding: 95px 180px 70px 1236px;
}